body {
	background-color: plum;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.timer {
	background: purple;
	border-radius: 40px;
	width: 800px;
	height: 150px;
	padding: 80px 90px;
}

.timer-title {
    margin: 0;
    margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
}

.timer-content {
	display: flex;
	justify-content: center;
}

.timer-item {
	text-align: center;
}

.timer-val {
	min-width: 81px;
	font-weight: 700;
	font-size: 100px;
	line-height: 85px;
}

.timer-separator {
	font-weight: 700;
	font-size: 50px;
	line-height: 75px;
	text-align: center;
	margin: 0 40px;
}

.timer-text {
	font-weight: 400;
	font-size: 25px;
	line-height: 20px;
}
